<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.ecore.extender.ExtenderProvider">
      <extenderprovider
            priority="high"
            providerClass="it.cnr.istc.keen.modeling.design.ext.modelextender.ExtenderProvider">
      </extenderprovider>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider
            class="it.cnr.istc.keen.modeling.design.ext.contentassist.ContentAssistAwareEditPartProvider">
         <Priority
               name="High">
         </Priority>
      </editpartProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.diagram.ui.layoutProvider">
      <layoutProvider
            priority="highest"
            providerClass="it.cnr.istc.keen.modeling.design.ext.layout.DdlGridLayoutProvider">
      </layoutProvider>
   </extension>
   <extension
         point="org.eclipse.sirius.diagram.ui.viewOrderingProvider">
      <viewOrderingProvider
            providerClass="it.cnr.istc.keen.modeling.design.ext.layout.GridViewOrderingProvider">
      </viewOrderingProvider>
   </extension>
   <extension
         id="it.cnr.istc.keen.elklayout"
         point="org.eclipse.elk.core.service.layoutConnectors">
      <setup
            class="it.cnr.istc.keen.modeling.design.ext.layout.ElkLayoutSetup"
            priority="1">
      </setup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="it.cnr.istc.keen.commands.category"
            name="Keen">
      </category>
      <command
            categoryId="it.cnr.istc.keen.commands.category"
            id="it.cnr.istc.keen.commands.openRootCommand"
            name="Open Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="it.cnr.istc.keen.modeling.design.ext.actions.OpenRootDiagramHandler"
            commandId="it.cnr.istc.keen.commands.openRootCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:navigate?after=additions">
         <command
               commandId="it.cnr.istc.keen.commands.openRootCommand"
               id="it.cnr.istc.keen.menus.openRootCommand"
               mnemonic="D">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="it.cnr.istc.keen.toolbars.keenToolbar">
            <command
                  commandId="it.cnr.istc.keen.commands.openRootCommand"
                  icon="platform:/plugin/org.eclipse.sirius.diagram.ui/icons/full/obj16/DSemanticDiagram.gif"
                  id="it.cnr.istc.keen.toolbars.openRootCommand"
                  style="pulldown"
                  tooltip="Open Diagram">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:it.cnr.istc.keen.toolbars.openRootCommand">
         <dynamic
               class="it.cnr.istc.keen.modeling.design.ext.actions.OpenRootPullDownMenu"
               id="it.cnr.istc.keen.dynamicMenu.openRootCommand">
         </dynamic>
      </menuContribution>
   </extension>   
</plugin>
