    span.sc {
        font-variant: small-caps;
    }
    .post-content figure {
        text-align: center;
    }
    .post-content figcaption {
        margin-left: auto;
        margin-right: auto;
    }
